.advantages {
  max-width: 1262px;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 121px;

  @media (max-width: $vp-1024) {
    margin-top: 80px;
    padding: 0 50px;
  }

  @media (max-width: $vp-768) {
    padding: 0 25px;
    margin-top: 49px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: $vp-768) {
    align-items: flex-start;
  }
}

.advantages__list li {
  width: 48.5%;
  padding: 40px;
  box-sizing: border-box;
  border: 1px solid #ebebeb;
  border-left: 5px solid $color-default-skyblue;
  margin-bottom: 30px;
  min-height: 300px;

  &:hover {
    background-color: $color-default-skyblue;
    border: 1px solid $color-default-skyblue;
    border-left: 5px solid $color-default-skyblue;
  }

  &:focus {
    outline: none;
    background-color: $color-default-skyblue;
    border: 1px solid $color-default-skyblue;
    border-left: 5px solid $color-default-skyblue;
  }

  &:hover svg {
    fill: #f2f5f6;
  }

  &:focus svg {
    fill: #f2f5f6;
  }

  &:hover h3 {
    color: #f2f5f6;
  }

  &:focus h3 {
    color: #f2f5f6;
  }

  &:hover p {
    color: #f2f5f6;
  }

  &:focus p {
    color: #f2f5f6;
  }

  @media (max-width: $vp-1024) {
    padding: 35px 40px;
  }

  @media (max-width: $vp-768) {
    width: 100%;
    padding: 29px 46px 18px 24px;
    min-height: 340px;

    &:nth-child(n+3) {
      min-height: 325px;
    }
  }
}

.advantages__list svg {
  fill: $color-default-skyblue;
  margin-bottom: 15px;

  @media (max-width: $vp-1024) {
    margin-bottom: 12px;
  }

  @media (max-width: $vp-768) {
    width: 30px;
    height: 30px;
    margin-bottom: 14px;
  }
}

.advantages__list h3 {
  margin: 0;
  font-family: $roboto400;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
  color: $color-default-skyblue;
  margin-bottom: 13px;

  @media (max-width: $vp-1024) {
    margin-bottom: 7px;
  }

  @media (max-width: $vp-768) {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    display: block;
    margin-bottom: 11px;
  }
}

.advantages__list p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;

  @media (max-width: $vp-768) {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    display: block;
  }
}
