.body-page {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: $color-default-black;

  &::after {
    content: "";
    width: 100%;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;

    @media (max-width: $vp-768) {
      min-height: 560px;
      background-color: $color-default-black;
      background-image: url("../img/header-bg-mobile.png");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/header-bg-mobile@2x.png");
      }
    }

    @media (min-width: 768px) and (max-width: $vp-1024) {
      min-height: 640px;
      background-color: $color-default-black;
      background-image: url("../img/header-bg-tablet.png");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/header-bg-tablet@2x.png");
      }
    }

    @media (min-width: 1024px) {
      min-height: 880px;
      background-color: $color-default-black;
      background-image: url("../img/header-bg-desktop.png");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/header-bg-desktop@2x.png");
      }
    }
  }
}

.body-page--hidden-overflow {
  overflow: hidden;
}
