.callback-form {
  width: 500px;
  padding: 40px;
  padding-bottom: 45px;
  box-sizing: border-box;
  background-color: #00b3ff;
  margin: 0 auto;
  position: fixed;
  z-index: 6;
  left: 0;
  right: 17px;
  top: -1000px;
  margin-top: 146px;
  transition: all 500ms ease;
}

.callback-form form {
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.callback-form h3 {
  margin: 0;
  font-family: $roboto400;
  font-size: 30px;
  font-weight: 400;
  line-height: 42px;
  text-align: left;
  color: #ffffff;
}

.callback-form p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #ffffff;
  margin: 0 0 38px;
}

.callback-form input {
  margin-bottom: 23px;
  transition: all 500ms ease;

  &:hover {
    outline: 1px solid $color-default-darkgrey;
  }

  &:focus {
    outline: 1px solid $color-default-darkgrey;
  }
}

.callback-form input[type="text"] {
  min-width: 274px;
  width: 100%;
  max-width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 15px;
  background-color: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  border: none;

  @media (max-width: $vp-768) {
    min-width: auto;
  }
}

.callback-form input[type="tel"] {
  min-width: 274px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 15px;
  background-color: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  border: none;

  @media (max-width: $vp-768) {
    min-width: auto;
  }
}

.callback-form input[type="text"]::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #ffffff;
}

.callback-form input[type="tel"]::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #ffffff;
}

.callback-form textarea {
  min-width: 100%;
  max-height: 155px;
  padding: 25px 15px;
  padding-top: 22px;
  box-sizing: border-box;
  background-color: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  border: none;
  resize: none;
  margin-bottom: 21px;
  transition: all 500ms ease;

  &:hover {
    outline: 1px solid $color-default-darkgrey;
  }

  &:focus {
    outline: 1px solid $color-default-darkgrey;
  }
}

.callback-form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #ffffff;
}

.callback-form button {
  padding: 15px 70px;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  font-family: $roboto700;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $color-font-default-black;
  align-self: stretch;
}

.callback-form .callback__submit {
  transition: all 500ms ease;

  &:disabled {
    opacity: 0.3;
  }

  &:hover {
    outline: none;
    color: $color-default-black;
    background-color: #ffffff;
  }

  &:focus {
    outline: none;
    color: $color-default-black;
    background-color: #ffffff;
  }
}

.callback-form input[type="checkbox"] + label {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #ffffff;
  display: block;
  padding-top: 16px;
  padding-left: 35px;
  position: relative;
  transition: all 500ms ease;

  &:hover {
    color: $color-font-default-black;
  }

  &::before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 2px;
    left: 9px;
    top: 18px;
    z-index: 2;
  }
}

.callback-form input[type="checkbox"]:checked + label {
  &::before {
    background-image: url("../img/svg/check-mark.svg");
    background-size: 11px 5px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.callback-form input[type="checkbox"]:focus + label {
  color: $color-font-default-black;
}

.callback-form .callback-form__close {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: none;
  background-color: transparent;
  background-image: url("../img/svg/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 24px;
  margin-right: 24px;
  transition: all 500ms ease;

  &:focus {
    outline: 1px solid #ffffff;
  }
}
