.contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 65.2%;
  max-width: 793px;

  @media (max-width: $vp-1024) {
    align-items: flex-start;
    justify-content: flex-end;
    column-gap: 0;
  }

  @media (max-width: $vp-768) {
    width: 60%;
    align-self: center;
  }
}

.contacts__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 66%;

  @media (max-width: $vp-1024) {
    justify-content: flex-end;
    margin-right: 14px;
  }

  @media (max-width: $vp-768) {
    width: 61%;
    margin-right: 10px;
  }
}

.contacts__container a {
  margin-right: 16%;

  &:nth-child(even) {
    margin-right: 0;
  }

  @media (max-width: 1155px) {
    margin-right: 0;
  }
}

.contacts a {
  padding: 10px 15px;
  box-sizing: border-box;
  text-decoration: none;
  color: $color-font-default-grey;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  display: flex;
  gap: 17px;
  transition: all 500ms ease;

  &:hover {
    color: $color-default-skyblue;
  }

  &:focus {
    color: $color-default-skyblue;
    outline: none;
  }

  &:hover svg {
    fill: $color-font-default-grey;
  }

  &:focus svg {
    fill: $color-font-default-grey;
  }

  @media (max-width: $vp-1024) {
    margin-right: 13px;
  }

  @media (max-width: $vp-768) {
    padding: 10px 10px;
    padding-top: 5px;
    margin-right: 16px;
  }
}

.contacts svg {
  fill: $color-default-skyblue;
  transition: all 500ms ease;
}

.contacts__link-text {
  @media (max-width: $vp-1024) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.contacts .contacts__callback {
  padding: 10px 16px;
  font-family: $roboto400;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid $color-font-default-grey;
  border-radius: 3px;

  &:hover {
    border: 1px solid $color-default-skyblue;
  }

  &:focus {
    border: 1px solid $color-default-skyblue;
  }

  @media (max-width: $vp-1024) {
    display: none;
  }
}
