.feedback {
  min-height: 840px;
  background-color: $color-default-skyblue;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;

  &::after {
    content: "";
    width: 48%;
    height: 252%;
    background-color: #041827;
    opacity: 0.5;
    position: absolute;
    top: -1231px;
    left: 0;
    transform: rotate(49deg);

    @media (max-width: $vp-1024) {
      display: none;
    }
  }

  &::before {
    content: "";
    width: 510px;
    min-height: 285px;
    background-image: url("../img/airplane-desktop.png");
    background-repeat: no-repeat;
    position: static;
    z-index: 1;
    margin-top: 245px;
    justify-self: end;
    margin-right: 100px;

    @media (max-width: $vp-1024) {
      display: none;
    }
  }

  @media (max-width: $vp-1024) {
    padding: 0 50px;
    min-height: 582px;
    display: block;
  }

  @media (max-width: $vp-768) {
    overflow: auto;
    padding: 0 25px 88px;
  }
}

.feedback form {
  width: 63%;
  margin-top: 165px;
  padding-left: 20px;
  box-sizing: border-box;
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 30px;
  align-items: flex-start;
  z-index: 1;

  @media (max-width: $vp-1024) {
    width: 100%;
    margin-top: 45px;
    padding-left: 0;
  }
}

.feedback form h3 {
  margin: 0;
  font-family: $roboto400;
  font-size: 36px;
  font-weight: 400;
  line-height: 51px;
  text-align: left;
  color: #ffffff;
  width: 100%;

  @media (max-width: $vp-768) {
    font-size: 30px;
    font-weight: 400;
    line-height: 42px;
    text-align: left;
  }
}

.feedback form p {
  margin: 0;
  margin-top: 14px;
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #ffffff;
  width: 100%;

  @media (max-width: $vp-1024) {
    margin-top: 8px;
    margin-bottom: 24px;
  }

  @media (max-width: $vp-768) {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 36px;
  }
}

.feedback form input {
  margin-bottom: 23px;

  &:hover {
    outline: 1px solid $color-default-darkgrey;
  }

  &:focus {
    outline: 1px solid $color-default-darkgrey;
  }

  @media (max-width: $vp-1024) {
    margin-bottom: 20px;
  }

  @media (max-width: $vp-768) {
    margin-bottom: 21px;
  }
}

.feedback form input[type="text"] {
  min-width: 240px;
  width: 47%;
  max-width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 15px;
  background-color: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  border: none;

  @media (max-width: $vp-1024) {
    width: 47.5%;
    padding: 17px;
  }

  @media (max-width: $vp-768) {
    min-width: auto;
    width: 100%;
    padding: 15px;
  }
}

.feedback form input[type="tel"] {
  min-width: 240px;
  width: 47%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 15px;
  background-color: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  border: none;

  @media (max-width: $vp-1024) {
    width: 47.5%;
    padding: 17px;
  }

  @media (max-width: $vp-768) {
    min-width: auto;
    width: 100%;
    padding: 15px;
  }
}

.feedback form input[type="text"]::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #ffffff;
}

.feedback form input[type="tel"]::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #ffffff;
}

.feedback form textarea {
  min-width: 99%;
  max-height: 155px;
  padding: 25px 15px;
  box-sizing: border-box;
  background-color: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  border: none;
  resize: none;
  margin-bottom: 33px;

  &:hover {
    outline: 1px solid $color-default-darkgrey;
  }

  &:focus {
    outline: 1px solid $color-default-darkgrey;
  }

  @media (max-width: $vp-1024) {
    margin-bottom: 34px;
    padding-top: 29px;
    min-width: 100%;
  }

  @media (max-width: $vp-768) {
    min-height: 180px;
    margin-bottom: 30px;
    padding-top: 23px;
  }
}

.feedback form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #ffffff;
}

.feedback form button {
  padding: 15px 70px;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  font-family: $roboto700;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $color-font-default-black;

  &:hover {
    color: $color-font-default-black;
    background-color: #ffffff;
  }

  &:focus {
    outline: none;
    color: $color-font-default-black;
    background-color: #ffffff;
  }

  @media (max-width: $vp-1024) {
    padding: 13px 70px;
  }

  @media (max-width: $vp-768) {
    padding: 13px 72px;
    width: 100%;
  }
}

.feedback form input[type="checkbox"] + label {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #ffffff;
  display: block;
  padding-top: 16px;
  padding-left: 45px;
  position: relative;

  &:hover {
    color: $color-font-default-black;
  }

  &::before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 2px;
    left: 19px;
    top: 24px;
    z-index: 2;

    @media (max-width: $vp-1024) {
      top: 18px;
    }

    @media (max-width: $vp-768) {
      top: 31px;
      left: 5px;
    }
  }

  @media (max-width: $vp-1024) {
    padding-top: 11px;
    margin-left: 34px;
  }

  @media (max-width: $vp-768) {
    margin-left: 0;
    padding-top: 25px;
    padding-left: 33px;
  }
}

.feedback form input[type="checkbox"]:checked + label {
  &::before {
    background-image: url("../img/svg/check-mark.svg");
    background-size: 11px 5px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.feedback form input[type="checkbox"]:focus + label {
  color: $color-font-default-black;
}
