.intro {
  box-sizing: border-box;
  min-height: 578px;

  @media (max-width: $vp-1024) {
    min-height: 461px;
  }

  @media (max-width: $vp-768) {
    min-height: 412px;
  }
}

.intro__wrapper {
  max-width: 1262px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  padding-left: 146px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 185px;

  @media (max-width: $vp-1024) {
    padding: 0 50px;
    margin-top: 79px;
  }

  @media (max-width: $vp-768) {
    padding: 0 25px;
  }
}

.intro h2 {
  margin: 0;
  font-family: $roboto700;
  font-size: 80px;
  font-weight: 700;
  line-height: 94px;
  text-align: left;
  letter-spacing: 0.07em;
  color: #f2f5f6;
  text-transform: uppercase;
  margin-bottom: 36px;

  @media (max-width: $vp-1024) {
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0.07em;
    text-align: left;
    margin-bottom: 1px;
  }

  @media (max-width: $vp-768) {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.07em;
    text-align: left;
    margin-bottom: 10px;
  }
}

.intro p {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
  color: #f2f5f6;
  width: 63%;
  margin-bottom: 47px;

  @media (max-width: $vp-1024) {
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    width: 100%;
    margin-bottom: 59px;
  }

  @media (max-width: $vp-768) {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    margin-bottom: 43px;
  }
}

.intro a {
  padding: 15px 25px;
  font-family: $roboto700;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-font-default-grey;
  background-color: $color-default-skyblue;
  align-self: flex-start;
  transition: all 500ms ease;

  &:hover {
    color: $color-default-skyblue;
    background-color: $color-font-default-grey;
  }

  &:focus {
    color: $color-default-skyblue;
    background-color: $color-font-default-grey;
    outline: none;
  }

  &:active {
    color: $color-default-skyblue;
    background-color: $color-font-default-grey;
  }

  @media (max-width: $vp-1024) {
    margin-left: 47px;
  }

  @media (max-width: $vp-768) {
    padding: 0 10px;
    padding-top: 11px;
    padding-bottom: 13px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-align: center;
    margin-left: 0;
    widows: 100%;
    align-self: stretch;
  }
}

.intro__button-tablet {
  @media (max-width: $vp-768) {
    display: none;
  }
}

.intro__button-mobile {
  @media (min-width: 768px) {
    display: none;
  }
}
