.page-footer {
  background-color: #041827;
  padding: 0 20px;
  padding-bottom: 37px;
  padding-top: 49px;
  box-sizing: border-box;

  @media (max-width: $vp-1024) {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 49px;
    padding-top: 55px;
  }

  @media (max-width: $vp-768) {
    padding-top: 40px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 36px;
  }
}

.page-footer__wrapper {
  max-width: 1222px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  @media (max-width: $vp-1024) {
    justify-content: space-between;
  }
}
