.plus-button {
  display: none;
  margin-right: 34px;
  margin-top: 7px;
  transition: all 500ms ease;
  z-index: 5;

  @media (max-width: $vp-768) {
    padding: 0;
    display: block;
    position: absolute;
    background-color: transparent;
    width: 15px;
    height: 15px;
    right: 0;
    border: none;
  }
}

.plus-button--nojs {
  @media (max-width: $vp-768) {
    display: none;
  }
}

.plus-button span {
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #f8fdff;
    pointer-events: none;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #f8fdff;
    transform: rotate(90deg);
    left: 8px;
    pointer-events: none;
  }
}

.plus-button--inactive span {
  &::before {
    display: none;
  }
}
