.promo {
  padding: 65px 20px 110px;
  background-color: $color-default-black;
  min-height: 400px;

  @media (max-width: $vp-1024) {
    margin-top: 44px;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 55px;
    padding-bottom: 45px;
  }

  @media (max-width: $vp-768) {
    padding: 47px 25px 56px;
  }
}

.promo h2 {
  font-family: $roboto400;
  font-size: 36px;
  font-weight: 400;
  line-height: 51px;
  text-align: left;
  color: #ffffff;
  margin: 0 auto;
  display: block;
  max-width: 1222px;

  @media (max-width: $vp-768) {
    font-size: 28px;
    font-weight: 400;
    line-height: 39px;
    text-align: left;
    max-width: 200px;
    margin: 0;
  }
}

.promo .promo__title-tablet {
  @media (max-width: $vp-768) {
    display: none;
  }
}

.promo .promo__title-mobile {
  @media (min-width: 768px) {
    display: none;
  }
}

.promo__list {
  padding: 0;
  list-style: none;
  max-width: 1222px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: $vp-1024) {
    flex-direction: column;
    margin-top: 38px;
  }

  @media (max-width: $vp-768) {
    margin-top: 29px;
  }
}

.promo__list li {
  position: relative;
  width: 28.6%;
  min-height: 654px;
  margin-bottom: 30px;

  @media (max-width: $vp-1024) {
    width: 100%;
    min-height: 250px;
    margin-bottom: 30px;
  }
}

.promo__item-bg {
  background-color: #434ee9;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.promo__item-bg-first {
  @media (min-width: 0) and (max-width: $vp-768) {
    background-image: url("../img/item-card-bg-fisrt-mobile.webp");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/item-card-bg-fisrt-mobile@2x.webp");
    }
  }

  @media (min-width: 768px) and (max-width: $vp-1024) {
    background-image: url("../img/item-card-bg-fisrt-tablet.webp");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/item-card-bg-fisrt-tablet@2x.webp");
    }
  }

  @media (min-width: 1024px) {
    background-image: url("../img/item-card-bg-fisrt.webp");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/item-card-bg-fisrt@2x.webp");
    }
  }
}

.promo__item-bg-second {
  @media (min-width: 0) and (max-width: $vp-768) {
    background-image: url("../img/item-card-bg-second-mobile.webp");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/item-card-bg-second-mobile@2x.webp");
    }
  }

  @media (min-width: 768px) and (max-width: $vp-1024) {
    background-image: url("../img/item-card-bg-second-tablet.webp");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/item-card-bg-second-tablet@2x.webp");
    }
  }

  @media (min-width: 1024px) {
    background-image: url("../img/item-card-bg-second.webp");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/item-card-bg-second@2x.webp");
    }
  }
}

.promo__item-bg-third {
  @media (min-width: 0) and (max-width: $vp-768) {
    background-image: url("../img/item-card-bg-third-mobile.webp");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/item-card-bg-third-mobile@2x.webp");
    }
  }

  @media (min-width: 768px) and (max-width: $vp-1024) {
    background-image: url("../img/item-card-bg-third-tablet.webp");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/item-card-bg-third-tablet@2x.webp");
    }
  }

  @media (min-width: 1024px) {
    background-image: url("../img/item-card-bg-third.webp");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/item-card-bg-third@2x.webp");
    }
  }
}

.promo__list a {
  padding: 50px 40px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: block;
  font-family: $roboto400;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-decoration: none;
  color: #ffffff;
  transition: all 500ms ease;

  &:focus {
    outline: none;
    color: $color-default-skyblue;
  }

  &:hover {
    color: $color-default-skyblue;
    outline: none;
  }


  &:hover .promo__list-arrow {
    border-radius: 0;
    width: 100%;
    max-width: 100%;
    transition: all 500ms ease;
  }

  &:focus .promo__list-arrow {
    border-radius: 0;
    width: 100%;
    max-width: 100%;
    transition: all 500ms ease;
  }

  @media (max-width: $vp-1024) {
    padding-left: 45px;
    padding-top: 37px;
    min-height: 250px;
    height: 100%;
  }

  @media (max-width: $vp-768) {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    padding: 26px 29px;
  }
}

.promo__list span {
  max-width: 151px;
  display: block;

  @media (max-width: $vp-1024) {
    max-width: 150px;
  }

  @media (max-width: $vp-768) {
    max-width: 133px;
  }
}

.promo__list .promo__list-arrow {
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  bottom: 0;
  right: 0;
  background-color: $color-default-skyblue;
  border-radius: 3px 0 0 0;
  background-image: url("../img/svg/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5px 10px;

  @media (max-width: $vp-768) {
    width: 40px;
    height: 40px;
  }
}
